---
name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to release (e.g., v1.0.0)'
        required: true
        type: string

jobs:
  publish:
    name: Publish Client
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.tag }}
      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
      - name: Set VERSION variable from tag
        run: echo "VERSION=${TAG#v}" >> $GITHUB_ENV
        env:
          TAG: ${{ inputs.tag }}
      - name: Pack
        run: dotnet pack -c Release -o out
      - name: Publish to NuGet
        run: dotnet nuget push ./out/*.nupkg -k ${{ secrets.NUGET_API_KEY }} --skip-duplicate --no-symbols --source 'https://api.nuget.org/v3/index.json' # yamllint disable
