name: Release

on:
  push:
    tags:
      - v*.*.*

jobs:
  publish:
    name: Publish Client
    runs-on: ubuntu-latest
    steps:
      - name: Wait for tests to succeed
        uses: lewagon/wait-on-check-action@v1.3.4
        with:
          ref: 'refs/heads/main'
          running-workflow-name: 'Publish Client'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 10
          allowed-conclusions: success
      - uses: actions/checkout@v4
      - name: Set VERSION variable from tag
        run: echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV
      - name: Pack
        run: dotnet pack -c Release -o out
      - name: Publish to NuGet
        run: dotnet nuget push ./out/*.nupkg -k ${{ secrets.NUGET_API_KEY }} --skip-duplicate --no-symbols --source 'https://api.nuget.org/v3/index.json' # yamllint disable
