---
name: Release

on:
  push:
    tags:
      - v*.*.*

jobs:
  publish:
    name: Publish Client
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "9.0.x"
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test --no-build --verbosity normal
      - name: Pack
        run: dotnet pack -c Release -o out
      - name: Publish to NuGet
        run: dotnet nuget push ./out/*.nupkg -k ${{ secrets.NUGET_API_KEY }} --skip-duplicate --no-symbols --source 'https://api.nuget.org/v3/index.json' # yamllint disable
